worlds["ben"] = "/data/games/minecraft/bens/world"

renders["survivalday"] = {
    "world": "ben",
    "title": "Daytime",
    "rendermode": smooth_lighting,
    "dimension": "overworld",
}

renders["survivalnight"] = {
    "world": "ben",
    "title": "Nighttime",
    "rendermode": smooth_night,
    "dimension": "overworld",
}

renders["survivalnether"] = {
    "world": "ben",
    "title": "The Nether",
    "rendermode": nether_smooth_lighting,
    "dimension": "nether",
}

outputdir = "/data/games/minecraft/ben-map"
